li {
  margin-bottom: 6px;
}

ol span {
  background-color: orange;
  color: white;
}

ul span {
  background-color: green;
  color: white;
}

#special + li > span {
  border: 3px solid red;
}

#special ~ li {
  border: 3px solid blue;
  margin-left: 50px;
}
